.message
  .upper-message
    .upper-message__user-name
      = message.user.nickname
    .upper-message__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .lower-message
    %p.lower-message__content
      = message.message