%h1 Messages#index
%p Find me in app/views/messages/index.html.haml

message new
= form_with(model:[@message], local: true) do |form|
  = form.text_field  :message
  = hidden_field_tag :match_id, @match
  = form.submit "Send"