-# チャット画面

.main
  .header
    .header-match
      .header-match_name
        katou hanako
      .header-match_target
        .header-match_target-name
          プログラミング
        .header-match_target-limit
          2020/5/16
  .body
    .body-list
      .list-match_icon
        .list-match_icon-image
          aaa
      .list-match_text
        私はRailsに取り組みます。
    .body-list
      .list-match_icon
        .list-match_icon-image
          bbb
      .list-match_text
        私はJSに取り組みます。
  .form
    .form-list
      .input-text
        ccc
      .input-support
        sss
      .input-button
        Send