.main
  .target
    .target-new
      =link_to new_target_path, class: "target-new__title" do
        目標設定

    .target-list
      .target-list__title
        目標リスト
      - @targets.each do |target|
        .target-list__name
          = link_to target_path(target.id) do
            = target.target