.main
  .target
    .target-name
      プログラミング
    .target-list
      .target-list_box
        .target-list_box_icon
          .target-list_box_icon-image
            ccc
        .profile
          .profile-name
            tanaka hiroshi
          .profile-detele
            .profile-detele_limit
              2020/12/31
            .profile-detele_gender
              男
          .profile-message
            一緒に頑張りましょう！
        .match
          .match-button
            Pare
      .target-list_box
        .target-list_box_icon
          .target-list_box_icon-image
            ddd
        .profile
          .profile-name
            endo shoko
          .profile-detele
            .profile-detele_limit
              2020/5/31
            .profile-detele_gender
              女
          .profile-message
            目指せ就職！
        .match
          .match-button
            Pare