.side-bar
  .header
    .char
      .char-box
        .char-box_icon
          .char-box_icon-image
            aaa
        .char-box_name
          yamada tarou
  .main
    .match-list
      .match-box
        .match-box_icon
          .match-box_icon-image
            bbb
        .match-box_name
          katou hanako