.main {
  height: calc(100vh - 100px);
  width: calc(100vw - 300px);
  .target {
    .search-name {
      font-size: 25px;
      background-color: gray;
      color: white;
      height: 50px;
      text-align: center;
      line-height: 50px;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &_box {
        margin: 40px;
        padding: 10px;
        height: 120px;
        width: 700px;
        border-bottom: solid 3px black;
        display: flex;
        &_icon {
          text-align: center;
          line-height: 100px;
          &-image {
            width: 100px;
            height: 100px;
            background-color: gray;
            color: white;
          }
        }
        .profile {
          padding-left: 20px;
          width: 400px;
          &-name {}
          &-list {

          }
          &-detele {
            padding-top: 10px;
            display: flex;
            &_limit {}
            &_gender {
              padding-left: 20px;
            }
          }
          &-message {
            padding-top: 10px;
          }
        }
        .match {
          padding-left: 50px;
          &-button {
            margin-top: 20px;
            height: 60px;
            width: 100px;
            text-align: center;
            line-height: 60px;
            background-color: red;
            color: white;
          }
        }
      }
    }
  }
}