.main {
  width: calc(100vw - 200px);
  .content {
    height: calc(100vh - 130px);
    width: 100%;
    padding: 20px;
    background-color: #f8f8f8;
    .message-header {
      &__box {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &-title {
          margin-right: 5px;
        }
        &-content {}
      }
    }
    .message {
      margin-bottom: 10px;
      border: solid 1px black;
      .upper-message {
        display: flex;
        border-bottom: 1px solid black;
        background-color: #ff6600;
        &__user {
          padding-left: 5px;
        }
        &__date {
          margin-left: 20px;
        }
      }
      .lower-message {
        &__content {
          padding-left: 5px;
        }
      }
    }
  }
  .message-form {
    width: 100%;
    height: 80px;
    border-left: solid 1px white;
    background-color: black;
    display: flex;
    align-items: center;
    &__input {
      height: 50%;
      width: 80%;
      display: flex;
      align-items: center;
      margin: 10px;
    }
    &__button {
      color: black;
      background-color: #ff6600;
      width: 20%;
      padding: 0 24px;
      margin: 10px;
      font-size: 20px;
      line-height: 40px;
    }
  }
}