.bar {
  height: 50px;
  width: 100%;
  background-color: black;
  display: flex;
  line-height: 50px;
  justify-content: center;
  position: fixed;
  .bar-title {
    color: white;
    font-size: 30px;
  }
}

.side-bar {
  width: 200px;
  background-color: black;
  border-top: solid white 1px;
  color: white;
  .header {
    height: 200px;
    a {
      text-decoration: none;
      color: white;
    }
    .char {
      &-box {
        padding-top: 20px;
        text-align: center;
        &_icon {
          display: flex;
          justify-content: center;
          &-image {
            width: 100px;
            height: 100px;
            line-height: 100px;
            background-color: gray;
          }
        }
        &_name {
          padding-top: 10px;
          display: flex;
          justify-content: center;
          &_edit {
            padding-left: 5px;
          }
        }
        &_logout {
          padding-top: 10px;
        }
      }
    }
  }
  .main {
    background-color: black;
    height: calc(100vh - 250px);
    width: 200px;
    border-top: solid white 1px;
    .match-list {
      padding: 20px;
      border-bottom: solid white 1px;
      
      .match-box {
        display: flex;
        text-align: center;
        line-height: 50px;
        &_icon {
          &-image {
            width: 50px;
            height: 50px;
            background-color: gray;
          }
        }
        &_name {
          padding-left: 10px;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}