.user {
  display: flex;
  text-align: center;
  flex-direction: column;
  .header {
    font-size: 40px;
    line-height: 80px;
  }
  .main {
    display: flex;
    justify-content: center;
    &-box {
      width: 300px;
      background-color: black;
      color: white;
      label {
        padding-top: 10px;
      }
    }
  }
}


// %h2 Sign up
//   .field
//     = f.label :email
//     %br/
//     = f.email_field :email, autofocus: true, autocomplete: "email"
//     %br/
//     = f.label :nickname
//     %br/
//     = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
//     %br/
//     = f.label :gender
//     %br/
//     = f.text_field :gender, autofocus: true, autocomplete: "gender"
//     %br/
//     = f.label :profile
//     %br/
//     = f.text_field :profile, autofocus: true, autocomplete: "profile"
//     %br/
//     = f.label :icon
//     %br/
//     = f.text_field :icon, autofocus: true, autocomplete: "icon"

//   .field
//     = f.label :password
//     - if @minimum_password_length
//       %em
//         (#{@minimum_password_length} characters minimum)
//     %br/
//     = f.password_field :password, autocomplete: "new-password"
//   .field
//     = f.label :password_confirmation
//     %br/
//     = f.password_field :password_confirmation, autocomplete: "new-password"
//   .actions
//     = f.submit "Sign up"
// = render "users/shared/links"
