.user {
  display: flex;
  text-align: center;
  flex-direction: column;
  .header {
    font-size: 40px;
    line-height: 80px;
  }
  .main {
    display: flex;
    justify-content: center;
    &-box {
      width: 300px;
      background-color: black;
      color: white;
      label {
        padding-top: 10px;
      }
    }
  }
}